{{!-- Certain classes will automatically add style from Materialize. ex. class 'left' moves element to left ; btn makes a button ; red makes it red ; etc... --}}
<h3><i class="fas fa-book-reader"></i> StoryBooks</h3>
<div class="section">
    <p class="lead">Create public and private stoires from your life</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1"> <!--on click goes to your google authentication page -->
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>